* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.cover {
  background-color: #002B81;
  width: clamp(400px, 35vw, 500px);
  display: grid;
  grid-template-columns: 1fr 50px;
  align-items: center;
  color: white;
  height: 100vh;
  transition: transform 0.2s ease-in;
}

.coverText {
  margin-left: 20px;
}

.navArea {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navArea button {
  border-radius: 50%;
  border-style: none;
  height: 8px;
  width: 8px;
  padding: 0 0;
  margin: 6px 0;
  cursor: pointer;
}

.navArea button:hover {
  background-color: #209125;
}

@media (max-width: 800px) {
  .cover {
    transform: translateX(-350px);
  }
  .cover:hover {
    transform: translateX(0);
    transition: all 0.1s ease-in;
  }
}

@media (max-width: 500px) {
  .cover:hover {
    transform: translateX(-350px);
  }
}

/*
#navigator{
  background-color: #002B81;
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot{
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 7px 0px;
}

.selected{
  background-color: #3F9535;
}

#detail-pane{
  width: 55%;
  height: 100%;
}

#detail-title{
  background-color: #3C68BF;
  color: white;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}

#title-header{
  width: 100%;
  text-align: center;
}
*/