* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
}

/*-- Left cover area CSS --*/
.cover {
  background-color: #002B81;
  width: clamp(400px, 35vw, 500px);
  display: grid;
  grid-template-columns: 1fr 50px;
  align-items: center;
  color: white;
  height: 100vh;
  position: fixed;
  transition: transform 0.2s ease-in;
}

.coverText {
  margin-left: 20px;
}

.navArea {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navArea button {
  border-radius: 50%;
  border-style: none;
  height: 8px;
  width: 8px;
  padding: 0 0;
  margin: 6px 0;
  cursor: pointer;
}

.navArea button:hover {
  background-color: #209125;
}

.navArea .current {
  background-color: #209125;
  cursor: default;
}

.navArea .current:hover {
  cursor: default;
}

@media (max-width: 900px) {
  .cover {
    transform: translateX(-350px);
  }
  .cover:hover {
    transform: translateX(0);
    transition: transform 0.1s ease-in;
  }
}

/*-- Main page area CSS --*/
.appPage {
  margin-left: clamp(400px, 35vw, 500px);
  padding: 0 5px;
  transition: margin 0.2s ease-in;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

@media (max-width: 900px) {
  .appPage {
    margin-left: 50px;
  }
}

.pageTitleBar {
  background-color: #1f3f80;
  border-radius: 20%;
  color: white;
  height: 30px;
  margin: 5px 5px;
  padding: 2px 20px;
  vertical-align: middle;
}

/* -- NOT WORKING, FIX LATER --
.titleContainer {
  transition: slideAnim 0.5s ease-in;
}

@keyframes slideAnim {
  0% { transform: translateX(-50px); }
  100% { transform: translateX(0); }
} */

/*-- Inner page detail area --*/
.detailPane {
  width: 100%;
  height: calc(100vh - 40px);
  overflow-y: auto;
  scrollbar-width: 1px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.detailPane::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.page {
  height: calc(100vh - 40px);
}