.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}




#home{
    height: 100vh;
    display: flex;
    flex-direction: row;


}

#cover {
    background-color: #002B81;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;


} 

.cover-text{
    margin: 2px 0px;
    text-align: center;
    color: white;
    
    

  
}


#navigator{
    background-color: #002B81;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dot{
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: 7px 0px;
}

.selected{
background-color: #3F9535;
}

#detail-pane{


    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;

}

#detail-title{
    background-color: #3C68BF;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;

}


::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8FA7CC;
    border-radius: 5px;
  }

  .listItem{

margin-left: 30px;
  }

@media screen and (max-width:730px){

#home{
    flex-direction: column;
}
#cover {

    width: initial;
    height: initial;
    align-items: flex-end;
    padding: 20px;

} 

#detail-pane{
    width: 100%;

}

h2.cover-text {

    font-size: 14px;
}

h4.cover-text{
    font-size: 12px;
}



}